
    html, body, section, .container, .columns {
      height: 100%;
    }
    .image {
      margin: auto;
    }
    .image img {
      border-radius: 50%;
      width: 128px;
      height: 128px;
      margin: 20px auto;
    }
    .description {
      font-style: italic;
    }
    .social-links a, .contact-info > * {
      margin: 10px;
    }
    .website, .email, .phone {
      color: #222222;
    }
    .behance {
      color: #053eff;
    }
    .dribbble {
      color: #ea4c89;
    }
    .facebook {
      color: #3b5998;
    }